@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Liber";
        font-weight: 400;
        font-display: swap;
        font-style: normal;
        src: url("/fonts/Liber/LiberGrotesqueFamily-Regular.ttf")
            format("truetype");
    }
    @font-face {
        font-family: "Liber";
        font-weight: 600;
        font-display: swap;
        font-style: normal;
        src: url("/fonts/Liber/LiberGrotesqueFamily-SemiBold.ttf")
            format("truetype");
    }
}

.notes {
    background-image: linear-gradient(to right, white 10px, transparent 10px),
        linear-gradient(to left, white 10px, transparent 10px),
        linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    line-height: 31px;
}
